@import "tailwindcss";

@tailwind utilities;
@font-face {
  font-family: "Poppins";
  src: url("/fonts/poppins/Poppins-Regular.ttf") format("truetype");
  font-style: normal;
}
@theme {
  --color-midnight: #121063;
  --color-primary-dark: #0c1b32;
  --color-primary-gray: #252525;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
  --color-primary-button: #feb707;
}

html,
body {
  height: 100vh;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Poppins", sans-serif;

}
.MuiChartsAxis-tickLabel {
  color: white !important;
  font-size: 12px !important;
}
.MuiChartsLabel-root,
.MuiChartsAxis-root {
  color: white !important;
}
.MuiChartsAxis-root .MuiChartsAxis-directionY {
  color: white;
}
